/* Card */
.speech-card {
/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;

width: 327px;
height: 208px;

background: radial-gradient(39.2% 119.25% at 87.54% -64%, #F5ECFF 0%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
/* Gray/200 */
border: 1px solid #DCDFEA;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;

}

.speech-button {
/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;

width: 327px;
height: 208px;

background: radial-gradient(39.2% 119.25% at 87.54% -64%, #F5ECFF 0%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
/* Gray/200 */
border: 1px solid #DCDFEA;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;



}
.speech-switch {
/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;

width: 327px;
height: 208px;

background: radial-gradient(39.2% 119.25% at 87.54% -64%, #F5ECFF 0%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
/* Gray/200 */
border: 1px solid #DCDFEA;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;



}
.card-icon {
/* Card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;

width: 327px;
height: 208px;

background: radial-gradient(39.2% 119.25% at 87.54% -64%, #F5ECFF 0%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
/* Gray/200 */
border: 1px solid #DCDFEA;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;



}
.bulk-speech-start{


position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;




}
.switch-container{
/* Switch container */

position: absolute;
width: 48px;
height: 48px;
left: 0px;
top: 0px;




}
.switch {
 /* Switch */

position: absolute;
width: 48px;
height: 48px;
left: 0px;
top: 0px;




}
.paragraph-container {
 /* Paragraph container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 277px;
height: 62px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


}
.text {
    /* Time you spent practicing */

width: 277px;
height: 24px;

/* Text md/Normal */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

/* Base/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.sub-text {
    /* 20 Minutes */

width: 149px;
height: 38px;

/* Display sm/Semibold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 38px;
/* identical to box height, or 127% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

