.admin_dashboard {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 22px;

  overflow: auto;
  .licenses {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px;
    border-radius: 16px;
    border: 1px solid #dcdfea;
    p {
      font-size: 16px;
      margin: 0 !important;
    }
    .licenses_number {
      background-color: #f7edff !important;
      color: #9f42e4 !important;
      border-radius: 16px !important;
      padding: 4px 16px;
      box-sizing: border-box;
    }
  }
  .users_table_chart_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adds gap between table and chart */
  }

  .users_table {
    flex: 1;
 
    padding: 16px 24px;
    width: 100%; /* Ensure it takes full width */
    border-radius: 16px;
    border: 1px solid #dcdfea;
 
  }
  .leaderboard-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    height: 600px; /* Ensure equal height for both leaderboards */
  }
  
  .leaderboard {
    flex: 0.6; /* Increased width allocation for the leaderboard */
    padding: 5px; /* Keep the padding minimal */
    margin: 0; /* Ensure no extra space around the border */
    display: flex;
    border: 1px solid #dcdfea;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
  }
  
  .chart {
    flex: 0.4; /* Reduced width allocation for the chart */
    border: 1px solid #dcdfea;
    border-radius: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
  }

  .users_chart {
    flex: 1;
    border-radius: 16px;
    border: 1px solid #dcdfea;
    padding: 16px 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the chart */
    max-width: 450px; /* Set a maximum width */
    
  }
}

.btn-container {
  position: relative;
  display: flex;

  align-items: center;
  gap: 20px;
}
